*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font: "Poppins", sans-serif;
  --primary-color: #ff7a4e;

  --grey-1: #f2f2f2;
  --grey-2: #bdbdbd;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;

  --rounded-sm: 8px;
  --rounded: 16px;

  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
